In [8]:
#Q-1

a = int(input('length of list : '))
intigerlist=list(int(num) for num in input('enter thye value of list : ').strip().split())[:a]
print('in list formet : ',intigerlist)
intigerlist=list(set(intigerlist))
print("after removing duplicates: "+str(intigerlist))

length of list : 7
enter thye value of list : 4 4 5 6 8 4 5
in list formet :  [4, 4, 5, 6, 8, 4, 5]
after removing duplicates: [8, 4, 5, 6]

In [7]:
# Q-2

b = (1,2,3,4,5)
print('length of tuple : ',len(b))
# largest term
print('largest term : ',max(b))
#smallest term 
print('smallest term : ',min(b))
#sum
print('sum : ',sum(b))

length of tuple :  5
largest term :  5
smallest term :  1
sum :  15

In [10]:
# Q-3
number = int(input('num: '))
x=int(input('x: '))
mag_num=1<<x
original_num=number|mag_num
print(original_num)

num: 13
x: 1
15

In [11]:
# Q-4
A=int (input('enter number: '))
print(A%2)

enter number: 6
0

In [12]:
# Q-5
list_A=[2,5,7,9,10]
print("A="+str(list_A))
list_B=[5,4,9,8,6]
print("B="+str(list_B))
print(sorted(list_A+list_B))

A=[2, 5, 7, 9, 10]
B=[5, 4, 9, 8, 6]
[2, 4, 5, 5, 6, 7, 8, 9, 9, 10]

In [13]:
# Q6

students={'Berlin':70,'Oslo':0,'Moscow':50,'Nairobi':100}
print("input="+str(students))
tuple1=(('Belin',70),('Oslo',0),('Moscow',50),('Nairobi',100))
y=dict(sorted(tuple1,key=lambda x:x[1]))
print("output="+str(y))

input={'Berlin': 70, 'Oslo': 0, 'Moscow': 50, 'Nairobi': 100}
output={'Oslo': 0, 'Moscow': 50, 'Belin': 70, 'Nairobi': 100}